@import url("https://fonts.googleapis.com/css?family=McLaren&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
html {
  font-family: "Montserrat", sans-serif;
}

:root {
  --brand-orange: #fe8903;
  --McLaren: "McLaren", sans-serif;
  --sans-serif: "Montserrat", sans-serif;
}

.orange {
  color: var(--brand-orange);
}

p {
  font-family: "Montserrat", sans-serif;
}

.testimonials {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;

  margin: 0;
}

.finalcta__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 64px 0;
}

.finalcta__desc {
  font-family: var(--McLaren);
  font-size: 26px;
  text-align: center;
}

/****************/
/**** MOBILE ****/
/****************/

@media (max-aspect-ratio: 2/3) {
}
