.buttonContainer {
  font-family: Arial, sans-serif;
  font-size: 18px;
  padding-top: 17px;
  padding-bottom: 17px;

  border: transparent 2px;
  border-radius: 4px;

  background-color: #fe8903;
  color: white;
}

.buttonContainer :hover {
  background-color: #e57b03;
  border: black 2px;
}

.buttonContainer :focus {
  background-color: #e57b03;
}
