.footer__container {
  background-color: var(--brand-orange);
  padding: 16px;
  display: flex;
  flex-direction: column;
  min-height: 10vh;
}

.footer__link {
  color: white;
  font-family: var(--sans-serif);
  text-decoration: none;
  padding: 12px;
  font-size: 24px;
}

.footer_copyright {
  color: white;
  font-family: var(--McLaren);
  font-size: 14px;
  margin-top: 16px;
}
